<div class="main-outer">
  <div class="top-outer">
    <h1 class="title">Dashboard</h1>
    <div class="top-bar-icon-outer">
      <div class="top-bar-icon-inner">
        <!-- <div class="dot notification-dot"></div> -->
        <mat-icon>notifications</mat-icon>
      </div>
      <div class="top-bar-icon-inner">
        <!-- <div class="dot"></div> -->
        <mat-icon (click)="logout()">logout</mat-icon>
      </div>
    </div>
  </div>
  <div class="name-outer">
    <h1 class="name">Welcome back</h1>
  </div>

  <div class="dashboard-body">
    <div class="row counter-context">
      <div class="col-12 col-sm-6 col-lg-3 counter-wrapper">
        <div class="counter-inner" style="border-left: 5px solid #16A085">
          <div class="top-data">
            <h3 class="header-text-users">Branches</h3>
          </div>
          <div class="middle-data">
            <h1 class="title-text-users">{{branchCount}}</h1>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 counter-wrapper">
        <div class="counter-inner" style="border-left: 5px solid #8E44AD">
          <div class="top-data">
            <h3 class="header-text-users">User Types</h3>
          </div>
          <div class="middle-data">
            <h1 class="title-text-users">{{userTypeCount}}</h1>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 counter-wrapper">
        <div class="counter-inner" style="border-left: 5px solid #1A2238">
          <div class="top-data">
            <h3 class="header-text-users">Employees</h3>
          </div>
          <div class="middle-data">
            <h1 class="title-text-users">{{employeeCount}}</h1>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
