<div class="main-outer">
  <div class="top-outer">
    <h1 class="title">Dashboard</h1>
    <div class="top-bar-icon-outer">
      <div class="top-bar-icon-inner">
        <!-- <div class="dot notification-dot"></div> -->
        <mat-icon>notifications</mat-icon>
      </div>
      <div class="top-bar-icon-inner">
        <!-- <div class="dot"></div> -->
        <mat-icon (click)="logout()">logout</mat-icon>
      </div>
    </div>
  </div>
  <div class="name-outer">
    <h1 class="name">Welcome back, {{this.selectedData?.fullName}}</h1>
  </div>

  <div class="dashboard-body">


  </div>

</div>
