<div class="outer">

  <!--  <h2 class="logo">Employee Management</h2>-->

  <div (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" [ngStyle]="{'width':expanded?'280px':'70px'}"
       class="left"
       id="left">
    <div class="nav-outer">
      <div class="ham-outer">
        <div (click)="triggerNav()" class="ham-inner">
          <mat-icon>menu</mat-icon>
        </div>
        <div *ngIf="expanded" class="logo-outer">
          <h2>Employee Management</h2>
        </div>
      </div>

      <ul [ngStyle]="{'display':expanded?'block':''}" class="menu-wrapper">
        <li class="list-inner" routerLink="/console/playground/home" routerLinkActive="active">
          <div class="icon-outer">
            <mat-icon class="nav-icon">view_compact_alt</mat-icon>
          </div>
          <div *ngIf="expanded" class="nav-context">
            Dashboard
          </div>
        </li>
        <li class="list-inner" routerLink="/console/playground/general/branch"
            routerLinkActive="active">
          <div class="icon-outer">
            <mat-icon class="nav-icon">account_tree</mat-icon>
          </div>
          <div *ngIf="expanded" class="nav-context">
            Branch Management
          </div>
        </li>
        <li class="list-inner" routerLink="/console/playground/general/user-type"
            routerLinkActive="active">
          <div class="icon-outer">
            <mat-icon class="nav-icon">category</mat-icon>
          </div>
          <div *ngIf="expanded" class="nav-context">
            User Type Management
          </div>
        </li>
        <li class="list-inner" routerLink="/console/playground/general/employee"
            routerLinkActive="active">
          <div class="icon-outer">
            <mat-icon class="nav-icon">manage_accounts</mat-icon>
          </div>
          <div *ngIf="expanded" class="nav-context">
            Employee Management
          </div>
        </li>
        <li class="list-inner" routerLink="/console/playground/general/salary"
            routerLinkActive="active">
          <div class="icon-outer">
            <mat-icon class="nav-icon">paid</mat-icon>
          </div>
          <div *ngIf="expanded" class="nav-context">
            Salary Management
          </div>
        </li>

      </ul>

    </div>
  </div>
  <div class="right">
    <app-console-body></app-console-body>
  </div>
</div>

