<div class="management-outer">
    <h1 class="main-title">Salary Management</h1>
    <br>
    <div class="new-form-outer">

        <h2 class="sub-title">Add New Salary</h2>

        <form #f="ngForm" [formGroup]="form">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 column">
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>User Type</mat-label>
                        <mat-select formControlName="userType">
                            <mat-option *ngFor="let ut of userTypes"
                                        [value]="ut?.userTypeId">{{ut?.userTypeName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12 col-sm-6 col-md-4 column">
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Month</mat-label>
                        <mat-select formControlName="month">
                            <mat-option *ngFor="let m of months" [value]="m">{{m}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12 col-sm-6 col-md-4 column">
                    <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Amount</mat-label>
                        <input matInput formControlName="amount" type="number" matTooltip="enter valid amount">
                    </mat-form-field>
                </div>

                <div class="col-12 column">
                    <div class="submit-button-outer">
                        <button (click)="createSalaries(f)" [disabled]="form.invalid"
                                class="submit-button" mat-raised-button>
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <br>
    <br>
    <div class="new-form-outer">

        <h2 class="sub-title">All Salaries</h2>

        <div class="list-outer">
            <form #f="ngForm" [formGroup]="searchForm">
                <div class="row row-outer">
                    <div class="col-12 col-sm-6 col-md-4 column">
                        <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Month</mat-label>
                            <mat-select formControlName="month">
                                <mat-option *ngFor="let m of months" [value]="m">{{m}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </form>
            <br>
            <div class="table-outer">
                <table class="table">
                    <thead>
                    <tr>
                        <td>Salary Id</td>
                        <td>Employee Id</td>
                        <td>Employee Name</td>
                        <td>Month</td>
                        <td>Amount</td>
                        <td>User Type</td>
                        <td>Branch Name</td>
                        <td>Status</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let s of salaries">
                        <td class="table-col">
                            <div class="td-inner">
                                {{s?.salaryId}}
                            </div>
                        </td>
                        <td class="table-col">
                            <div class="td-inner">
                                {{s?.employeeId}}
                            </div>
                        </td>
                        <td class="table-col">
                            <div class="td-inner">
                                {{s?.employeeName}}
                            </div>
                        </td>
                        <td class="table-col">
                            <div class="td-inner">
                                {{s?.month}}
                            </div>
                        </td>
                        <td class="table-col">
                            <div class="td-inner">
                                {{s?.amount}}
                            </div>
                        </td>
                        <td class="table-col">
                            <div class="td-inner">
                                {{s?.userType}}
                            </div>
                        </td>
                        <td class="table-col">
                            <div class="td-inner">
                                {{s?.branchName}}
                            </div>
                        </td>
                        <td class="table-col">
                            <div class="td-inner">
                                {{s?.paidStatus ? 'Paid' : 'Pending'}}
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
