<div class="outer">
  <div class="inner">
    <div class="login-context">
      <div class="left-side">
        <div class="shadow">
        </div>
      </div>
      <div class="right-side">
        <div class="right-side-shadow">
          <div class="container">
            <div class="login-element-outer">
              <h1 class="login-text">Login</h1>
              <p class="login-para">
                You can manage everything, Login to Employee-Management-System
              </p>
              <br><br>
              <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="data-outer">
                  <input matInput formControlName="email" type="email" placeholder="user email here" autocomplete="off"
                         autofill="off">
                </div>
                <br>
                <div class="data-outer">
                  <input formControlName="password" placeholder="Password" type="{{passwordState?'password':'text'}}"
                         autocomplete="off" autofill="off">
                  <div class="icon-outer" (click)="passwordState=!passwordState">
                    <mat-icon>
                      {{passwordState ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                  </div>
                </div>
                <div class="forgot-show-outer">
                  <div class="show-password">

                  </div>
                  <div class="forgot-password">
                    <span routerLink="/security/forgot-password">Forgot password?</span>
                  </div>
                </div>
                <div class="login-button-outer">
                  <button mat-raised-button [disabled]="loginForm.invalid" type="submit">Login</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
