
.outer{
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner{
  width: 90%;
  height: 90vh;
  display: flex;
  flex-direction: column;
}
.login-context{
  flex: 1;
  display: flex;
}
.back-button{
  display: flex;
  align-items: center;
  margin: 0;
  span{
    display: flex;
    align-items: center;
    font-size: 15px;
  }
  span:hover{
    cursor: pointer;
    color: #F33702;
  }
}
.left-side{
  flex: 0.8;
}
.right-side{
  flex: 1;
}

.left-side{
  background-image: url('https://firebasestorage.googleapis.com/v0/b/developers-stack-96863.appspot.com/o/security%2Flogin-min.jpg?alt=media&token=15398164-c559-470d-8cd0-8c1bdd3b4434');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.shadow{
  width: 100%;
  height: 100%;
  background-color: rgba(47, 28, 106,0.5);
}
.right-side-shadow{
  width: 100%;
  height: 100%;
  background-color: rgb(47, 28, 106);
  padding: 50px 0px;
}

.login-text{
  font-weight: 500;
  color: white;
  font-size: 20px;
}
.container{
  padding: 0 50px;
}
.login-para{
  color: white;
  margin-top: -12px;
}
.data-outer{
  width: 100%;
  height: 50px;
  border: 1px solid #F4F5FF;
  border-radius: 5px;
  display: flex;
  padding: 5px 0;

  input{
    flex: 1;
    background: none;
    color: #D6D6D6;
    border: none;
    padding: 0 10px;
  }
  input::placeholder{
    color: #95a5a6;
  }
  input:focus{
    outline: none;
  }

}
input {
  color: #D6D6D6;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  background-color: transparent !important;
  -webkit-text-fill-color: #95a5a6;
}
.forgot-show-outer{
  width: 100%;
  height: 50px;
  display: flex;
  margin-top: 10px;
}
.show-password, .forgot-password{
  flex: 1;
}
.show-pwd-text{
  color: #D6D6D6;
}
.icon-outer{
  width: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  mat-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D6D6D6;
    font-size: 18px;
  }
}
.forgot-password{
  display: flex;
  justify-content: flex-end;
  span{
    color: #D6D6D6;
    cursor: pointer;
  }
  span:hover{
    color: #D6D6D6;
    text-decoration: underline;
  }
}

.login-button-outer{
  width: 100%;
  height: 50px;

  button{
    width: 100%;
    height: 100%;
    background-color: #FCD980;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
  }
}
.sign-up-outer{
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-up{
  color: #D6D6D6;
  font-size: 15px;
  span{
    cursor: pointer;
    text-decoration: underline;
  }
}
@media only screen and (max-width:'795px') {
  .left-side{
    flex: 0.6;
  }
}
@media only screen and (max-width:'607px') {
  .left-side{
    display: none;
  }
}
@media only screen and (max-width:'425px') {
  .container{
    padding: 0 10px;
  }
}

/*

.login-page-outer {
  width: 100%;
  min-height: 100vh;
  height: auto;
  !*background: url("/assets/images/background/WhatsApp Image 2022-12-16 at 13.56.29.jpeg") no-repeat;
  background-size: cover;
  height: 100vh;*!
}

.container {
  display: flex !important;
  align-items: center !important;
  min-height: 100vh;
  height: auto;
}

.inner {
  width: 100%;
  min-height: 90vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: auto;
  background: rgb(2, 0, 36);
  background: linear-gradient(190deg, rgba(2, 0, 36, 1) 0%, rgba(26, 34, 56, 1) 31%, rgba(0, 212, 255, 1) 100%);
}

.header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.logo {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: white;
  margin: 0;
}

.data-outer {
  flex: 1;
}

.col-md-6 {
  height: 100%;
}

.data-set {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  padding: 10px;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.row {
  margin: 0;
}

.header-text {
  font-size: 18px;
  margin: 0;
  font-weight: bold;
}

.title {
  font-size: 14px;
  font-weight: lighter;
}

.full-width {
  width: 100%;
}

.icon:hover {
  cursor: pointer;
}

.forget-pwd-text {
  text-align: right;
  margin-top: -10px;

  span {
    color: var(--blue_color);
    text-decoration: underline;
    cursor: pointer;
  }
}

.mat-button, .mat-raised-button {
  background-color: var(--blue_color);
  width: 100%;
  height: 50px;
}
*/
