.main-outer {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 5000;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;

  /*  .mat-progress-spinner circle, .mat-spinner circle {
      stroke: #1F3044;
    }*/

}
.loader {
  width: 44.8px;
  height: 44.8px;
  color: var(--primary_color);
  position: relative;
  background: radial-gradient(11.2px,currentColor 94%,#0000);
}

.loader:before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: radial-gradient(10.08px at bottom right,#0000 94%,currentColor) top    left,
  radial-gradient(10.08px at bottom left ,#0000 94%,currentColor) top    right,
  radial-gradient(10.08px at top    right,#0000 94%,currentColor) bottom left,
  radial-gradient(10.08px at top    left ,#0000 94%,currentColor) bottom right;
  background-size: 22.4px 22.4px;
  background-repeat: no-repeat;
  animation: loader 1.5s infinite cubic-bezier(0.3,1,0,1);
}

@keyframes loader {
  33% {
    inset: -11.2px;
    transform: rotate(0deg);
  }

  66% {
    inset: -11.2px;
    transform: rotate(90deg);
  }

  100% {
    inset: 0;
    transform: rotate(90deg);
  }
}
/*.mover {
  background:  var(--primary_color);
  height: 8px;
  width: 65px;
  border-radius: 10px;
  position: relative;
  animation: mover5 2.2s ease-in-out infinite;
}

.mover::before,
.mover::after {
  content: '';
  position: absolute;
  height: 8px;
  border-radius: 10px;
  left: 20px;
  animation: mover5 1.9s ease-in-out infinite;
}

.mover::before {
  background: var(--green_color);
  top: 20px;
  height: 8px;
  width: 25px;
}

.mover::after {
  background: var(--orange_color);
  top: -20px;
  width: 35px;
}

@keyframes mover5 {
  0% {
    transform: translateX(40px) scale(1);
  }

  50% {
    transform: translateX(-45px) scale(1);
  }

  100% {
    transform: translateX(40px) scale(1);
  }
}*/
